.graph-container { 
  max-width: 1500px;
  margin: auto;
  justify-content: center;
  
}

.filter-container {
  padding: 0.5em 0em 4em 0em;
  justify-content: center;
  text-align: left;
  display: flex;
}

.toggle-container {
  display: flex;
  justify-content: center;
}
