@import 'fonts.css';
@import 'containers.css';
@import 'colors.css';


.navbar {
  background-color: whitesmoke;
}

.navbar-logo {
  max-height: 27px;
  max-width: 27px;
}

.navbar-item {
  font-size: medium;
}

.content {
  padding: 10px;
  min-height: calc(100vh - 5em);
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}

.headline {
  margin: 2em;
  padding: 1em;
  font-weight: 300;
  text-align: center;
}

.footer {
  height: 3em;
  text-align: center;
  vertical-align: bottom;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: white;
  overflow: hidden;
}

.highcharts-background {
  min-height: 800px;
}

.info-box {
  max-height: 20s0px;
}
