@import 'fonts.css';
@import 'containers.css';
@import 'colors.css';

.navbar {
  height: 5em;
  background-color: whitesmoke;
}

.content {
  padding: 10px;
  min-height: calc(100vh - 5em);
  display: flex;
  flex-direction: column;
}

.footer {
  height: 3.5em;
  text-align: center;
  vertical-align: bottom;
  width: 100%;
  position: fixed;
  bottom: 0;
}

